<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css"/>
    <link href="/stylesheets/global.css" rel="stylesheet">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <link href="/stylesheets/footer.css" rel="stylesheet">
    <link href="/stylesheets/item_shelf.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

    <script>
        var items = {{{myData}}} ;
        var activeArray = items.item;
        $(function () {
            var tvSizes = loadSizes(items.item);
            $("#slider-range").slider({
                range:true,
                min:1,
                max:100,
                values:[ items.minSize, items.maxSize ],
                slide:function (event, ui) {
                    var ele1 = $("#slider-range").find('a:first');
                    var ele2 = $("#slider-range").find('a:last');
                    var o1 = {top: ele1.offset().top - 60, left:ele1.offset().left - 25 };
                    var o2 = {top: ele2.offset().top - 60, left:ele2.offset().left - 25 };
                    $("#range-value1").show();
                    $("#range-value1").offset(o1);
                    $("#range-value1").text(ui.values[0]+"\"");
                    $("#range-value2").show();
                    $("#range-value2").offset(o2);
                    $("#range-value2").text(ui.values[1]+"\"");

                },

                stop:function (event, ui) {
                    var ele1 = $("#slider-range").find('a:first');
                    var ele2 = $("#slider-range").find('a:last');
                    var o1 = {top: ele1.offset().top - 60, left:ele1.offset().left - 25 };
                    var o2 = {top: ele2.offset().top - 60, left:ele2.offset().left - 25 };
                    $("#range-value1").show();
                    $("#range-value1").offset(o1);
                    $("#range-value1").text(ui.values[0]+"\"");
                    $("#range-value2").show();
                    $("#range-value2").offset(o2);
                    $("#range-value2").text(ui.values[1]+"\"");
                    range1 = $("#range-value1").text().split("\"")[0];
                    range2 = $("#range-value2").text().split("\"")[0];
                    var rangeArray = {"low":range1, "high":range2};
                    var filtered = filterOnRange(activeArray, rangeArray);
                    loadFilteredResults(filtered);
                    $('.item-counter').html(filtered.length);
                }
            });



            $('.item-counter').html(activeArray.length);

            $('#tv-brand').change(function (e) {
               range1 = $("#range-value1").text().split("\"")[0];
               range2 = $("#range-value2").text().split("\"")[0];

               var rangeArray = {"low":range1, "high":range2};
               var filtered = filterOnBrand(filterOnRange(activeArray, rangeArray), e.currentTarget.value );
               // fire off the request to node server
               loadFilteredResults(filtered);
               $('.item-counter').html(filtered.length);
               activeArray = filtered;

            });

            function findNearest(value) {
                var nearest = null;
                var diff = null;
                for (var i = 0; i < tvSizes.length; i++) {
                    if ((tvSizes[i] <= value) || (tvSizes[i] >= value)) {
                        var newDiff = Math.abs(value - tvSizes[i]);
                        if (diff == null || newDiff < diff) {
                            nearest = tvSizes[i];
                            diff = newDiff;
                        }
                    }
                }
                return nearest;
            }

            $("#tv-types").change(function (e) {
                range1 = $("#range-value1").text().split("\"")[0];
                range2 = $("#range-value2").text().split("\"")[0];

                var rangeArray = {"low":range1, "high":range2};
                var filtered = filterOnType(filterOnRange(activeArray, rangeArray), e.currentTarget.value );
                // fire off the request to node server
                loadFilteredResults(filtered);
                $('.item-counter').html(filtered.length);
                activeArray = filtered
            });

            $('#tv-sort').change(function (e) {
                var sortOn = e.currentTarget.value;
                arraySort(activeArray, sortOn);
                loadFilteredResults(activeArray);
            });

            $('.product-finder-filter-clear-btn').click(function(e){
                activeArray = items.item;

                $("#slider-range").slider('values', 0, 19);
                $("#slider-range").slider('values', 1, 73);

                var ele1 = $("#slider-range").find('a:first');
                var ele2 = $("#slider-range").find('a:last');

                var o1 = {top: ele1.offset().top - 60, left:ele1.offset().left - 25 };
                var o2 = {top: ele2.offset().top - 60, left:ele2.offset().left - 25 };

                $("#range-value1").show();
                $("#range-value1").offset(o1);
                $("#range-value1").text(19+"\"");

                $("#range-value2").show();
                $("#range-value2").offset(o2);
                $("#range-value2").text(73+"\"");

                $("#tv-types").prop("selectedIndex",0);
                $("#tv-brand").prop("selectedIndex",0);
                $("#tv-sort").prop("selectedIndex",0);

                loadFilteredResults(activeArray);
                $('.item-counter').html(activeArray.length);

            });
        });


    loadFilteredResults = function (array){
         var pload = JSON.stringify(array);
         jQuery.ajax({
            url: "/products/filtered",
            contentType: 'application/json; charset=utf-8',
            type: "POST",
            data: pload,
            success: function (result) {
                         $('.shelf_container').html(result);
                     }

        });
    }

    filterOnRange = function(array, range){
        var lowRange = range.low;
        var highRange = range.high;

        var arr = jQuery.grep(array, function(n, i){
            return (n.size >= lowRange && n.size <= highRange);
        });
        return arr;

    }

    filterOnBrand = function(array, brandName){

        var arr = jQuery.grep(array, function(n, i){
            return (n.name.match(brandName) );
        });
        return arr;


    }


    filterOnType = function(array, type){

        var arr = jQuery.grep(array, function(n, i){
            return (n.name.match(type) );
        });
        return arr;
    }

    arraySort = function(array, sortType){
        // apply sorting by price or alphabetical
        if (sortType == "Price"){
            array.sort(function(a,b) { return a.price - b.price } );

        }

        if(sortType == "ZA"){
            array.sort(function(a,b) {
                var nameA=a.name.toLowerCase(), nameB=b.name.toLowerCase()
                 if (nameA < nameB) //sort string ascending
                  return 1;
                 if (nameA > nameB)
                  return -1;
                 return 0 //default return value (no sorting);

            });
        }

        if(sortType == "AZ"){
            array.sort(function(a,b) {
                var nameA=a.name.toLowerCase(), nameB=b.name.toLowerCase()
                 if (nameA < nameB) //sort string ascending
                  return -1;
                 if (nameA > nameB)
                  return 1;
                 return 0 //default return value (no sorting);

            });
        }
    }

    loadSizes = function(array){
        var sizes = [] ;
        for(var i = 0; i < array.length; i++){
            var value = array[i].size;
            if(sizes != 'undefined' ){
                if(jQuery.inArray(value, sizes) == -1){
                   sizes.push(value);
                }
            }
        }
        return sizes.sort(function(a,b){return a-b});

    }

    </script>
</head>

<body>

<section class="header">
    <section class="header-top">
        <section class="header-logo">
            <img src="/images/walmart_logo2.png" alt="Walmart. Save Money. Live Better.">
        </section>
        <section class="header-search">
            <section class="search-box-wrapper">
                <form method="get" action="http://www.walmart.com/search/search-ng.do">
                    <input type="text" name="search_query" class="search-box" name="s" placeholder="Search" value=""/>

                </form>
            </section>
        </section>
        <section class="header-links">
            <section class="header-menu">
                <section class="header-menu-h">
                    <a class="header-menu-a" href="">Create</a>
                    <span class="text">a new wish list</span>
                </section>
            </section>
            <section class="header-menu">
                <section class="header-menu-h">
                    <a class="header-menu-a" href="">Sign In</a>
                    <span class="text">to your account</span>
                </section>
            </section>
            <section class="header-menu">
                <section class="header-menu-h">
                    <a class="header-menu-a" href="">0 Items</a>
                    <span class="text">in your cart</span>
                </section>
            </section>
        </section>
    </section>
    <section class="header-break">
        <h2></h2>
    </section>
    <section class="header-bread-crumb">
        <img src="/images/home_icon.png"/>
        <section class="header-bread-crumb-path"></section>
    </section>

</section>


<section class="product-finder-pov">
    <img src="/images/product_finder_pov.png"/>
</section>


<section class="product-finder-filter-container">
    <section class="product-finder-filter-selectors">
        <div class="product-finder-filter-img">
        </div>
        <section class="product-finder-filter-slider">
            <div id="range-value1" class="bubble">19"</div>
            <div id="range-value2" class="bubble">73"</div>
            <div id="slider-range"></div>
        </section>
        <section class="product-finder-filter-dropdowns">
            <div class="">
                <span>Type</span>
                <br>
                <select name="tv-type" id="tv-types" class="dropdown-style">
                    <option selected="selected" value="select" disabled>all types</option>
                    <option value="LCD">LCD</option>
                    <option value="3D">3D</option>
                    <option value="LED">LED</option>
                    <option value="Plasma">Plasma</option>
                    <option value="Projection">Projection</option>
                    <option value="Smart">Smart</option>
                </select>
            </div>
            <div class="">
                <span>Brand</span>
                <br>
                <select name="tv-brand" id="tv-brand">
                    <option selected="selected" value="select" disabled>all brands</option>
                    {{#each payload.brandName}}
                        <option value="{{.}}">{{.}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="">
                <span>Sort</span>
                <br>
                <select name="tv-sort" id="tv-sort" class="dropdown-style">
                    <option selected="selected" value="select" disabled>select one</option>
                    <option value="Price">Price</option>
                    <option value="AZ">A-Z</option>
                    <option value="ZA">Z-A</option>
                </select>
            </div>
        </section>
    </section>
    <section class="product-finder-filter-break" >
        <h2></h2>
    </section>
    <section class="product-finder-filter-results">
        <div class="product-finder-filter-msg">
            <span class="item-counter"></span> matches for televisions fitting that criteria
        </div>
        <input type="button" value="Clear Filters " class="product-finder-filter-clear-btn">
    </section>
</section>

<section class="shelf_container">
    {{#each payload.item}}
    {{#everyNth @index 4}}
    <div style="clear:both"></div>
    {{/everyNth}}
    <section class="shelf_item">
        <img src="{{image}}"/>

        <div class="shelf-item-name">
            {{name}}
        </div>
        <div class="shelf-item-desc">
            {{{desc description}}}
        </div>
        <div class="shelf-item-price">
            ${{price}}
        </div>
        <div class="shelf-item-ratings" style="background-position:-{{ratingsHelper rating}}px" >
            <div title=""></div>
        </div>
    </section>
    {{/each}}
</section>

<div style="clear:both"></div>

<footer class="footer">

    <form class="mailing-list" action="/">
      <input class="email" type="email" name="email" placeholder="Sign up for our Mailing List" title="Sign up for our Mailing List">
      <button class="sign-up" id="sign-up" type="submit" name="sign-up">Sign Up</button>
    </form>

    <div class="footer-links">
      <section class="column">
          <h3>Get to know us</h3>
          <a class="link" href="http://walmartstores.com/">Corporate</a>
          <a class="link" href="http://walmartstores.com/aboutus">Our Story</a>
          <a class="link" href="http://walmartstores.com/pressroom">News &amp; Views</a>
          <a class="link" href="http://walmartstores.com/communitygiving">Giving Back</a>
          <a class="link" href="http://walmartstores.com/sustainability">Global Responsibility</a>
          <a class="link" href="http://walmartstores.com/investors">Investors</a>
          <a class="link" href="http://walmartstores.com/suppliers">Suppliers</a>
          <a class="link" href="http://walmartstores.com/careers">Careers</a>
      </section>

      <section class="column">
          <h3>Walmart.com</h3>
          <a class="link" href="http://www.walmart.com/catalog/catalog.gsp?cat=542412">About Walmart.com</a>
          <a class="link" href="http://www.walmart.com/catalog/catalog.gsp?cat=538449">Terms of Use</a>
          <a class="link" href="http://affiliates.walmart.com/aff_home.jsp">Affiliate Program</a>
          <a class="link" href="http://public.conxport.com/walmart/sponsorship/home.aspx">Sponsorship Submission</a>
          <a class="link" href="http://www.walmart.com/catalog/catalog.gsp?cat=538456">International Customers</a>
          <a class="link" href="http://www.walmart.com/cservice/contextual_help_popup.gsp?modId=971879">About Our Ads</a>
          <a class="link" href="http://www.walmart.com/cservice/ca_storefinder.gsp">Store Finder</a>
          <a class="link" href="http://coupons.walmart.com/?povid=cat14503-env172199-module092411-lLinkISNCOUPON">Printable Coupons</a>
          <a class="link" href="http://www.walmart.com/wf.gsp/a_d_registration_flow/landing">Associate Discount</a>
          <a class="link" href="http://walmartstores.com/PrivacySecurity/?sourceid=walmart.com-footer">Privacy &amp; Security</a>
          <a class="link" href="http://walmartstores.com/9243.aspx#California">California Privacy Rights</a>
          <a class="link" href="http://www.WalmartLabs.com">@WalmartLabs</a>
          <a class="link" href="http://www.walmart.com/catalog/catalog.gsp?cat=121828">See All Departments</a>
      </section>

      <section class="column">
          <h3>Help</h3>
          <a class="link" href="http://www.walmart.com/catalog/catalog.gsp?cat=5436">Help Center</a>
          <a class="link" href="http://www.walmart.com/cservice/li_trackorder.gsp?NavMode=2">Track Your Order</a>
          <a class="link" href="http://www.walmart.com/catalog/catalog.gsp?cat=538459">Returns Policy</a>
          <a class="link" href="http://www.walmart.com/returns/returns_type.gsp">Return an Item</a>
          <a class="link" href="http://walmartstores.com/Recalls/">Product Recalls</a>
          <a class="link" href="http://www.walmart.com/cservice/cu_comments_online.gsp?cu_heading=8">Contact Us</a>
          <a class="link" href="">Feedback</a>
      </section>

      <section class="column">
          <h3>In the spotlight</h3>
          <a class="link" href="">Black Friday</a>
          <a class="link" href="">Cyber Monday</a>
          <a class="link" href="">Thanksgiving</a>
          <a class="link" href="">Laptops</a>
          <a class="link" href="">iPads and Tablets</a>
          <a class="link" href="">Appliances</a>
          <a class="link" href="">TVs</a>
          <a class="link" href="">Toys</a>
          <a class="link" href="">eGift Cards</a>
          <a class="link" href="">Best Sellers</a>
          <a class="link" href="">New Arrivals</a>
          <a class="link" href="">Top-Rated Items</a>
      </section>

      <aside>
          <h3>Walmart Money Centre</h3>
          <a class="" href=""><img src="/images/money_center.png" alt="Walmart Money Center" width="310" height="304"></a>
      </aside>
    </div>

</footer>
<script>

$(document).ready(function () {

    var ele1Offset = $("#slider-range").find('a:first').offset();
    var ele2Offset = $("#slider-range").find('a:last').offset();

    var o1 = {top: ele1Offset.top - 60, left:ele1Offset.left - 25 };
    var o2 = {top: ele2Offset.top - 60, left:ele2Offset.left - 25 };

    $("#range-value1").show();
    $("#range-value1").offset(o1);
    $("#range-value1").text(19+"\"");

    $("#range-value2").show();
    $("#range-value2").offset(o2);
    $("#range-value2").text(73+"\"");

    $("#tv-types").prop("selectedIndex",0);
    $("#tv-brand").prop("selectedIndex",0);
    $("#tv-sort").prop("selectedIndex",0);

});


</script>
</body>

</html>
